@layer components {
  .snx-alert {
    @apply relative w-full rounded-lg border px-4 py-3 text-sm
           [&>svg+div]:translate-y-[-3px] [&>svg]:absolute [&>svg]:left-4 [&>svg]:top-4
           [&>svg]:text-foreground [&>svg~*]:pl-7;
  }
  .snx-alert-default {
    @apply bg-background text-foreground;
  }
  .snx-alert-destructive {
    @apply border-destructive/50 text-destructive [&>svg]:text-destructive;
  }
  .snx-alert-success {
    @apply border-green-500/50 text-green-600 [&>svg]:text-green-600;
  }
  .snx-alert-warning {
    @apply border-yellow-500/50 text-yellow-600 [&>svg]:text-yellow-600;
  }
  .snx-alert-title {
    @apply mb-1 font-medium leading-none tracking-tight;
  }
  .snx-alert-description {
    @apply text-sm [&_p]:leading-relaxed;
  }
}
