@layer components {
  .snx-card {
    @apply rounded-xl border bg-card text-card-foreground shadow;
  }
  .snx-card-header {
    @apply flex flex-col space-y-1.5 p-6;
  }
  .snx-card-title {
    @apply font-semibold leading-none tracking-tight;
  }
  .snx-card-description {
    @apply text-sm text-muted-foreground;
  }
  .snx-card-content {
    @apply p-6 pt-0;
  }
  .snx-card-footer {
    @apply flex items-center p-6 pt-0;
  }
}
