@layer components {
  .snx-progress {
    @apply relative h-2 w-full overflow-hidden rounded-full bg-primary/20;
  }
  .snx-progress-indicator {
    @apply h-full w-full flex-1 bg-primary transition-all duration-300 ease-in-out;
  }
}
