@layer components {
  .snx-switch {
    @apply inline-flex h-5 w-9 shrink-0 cursor-pointer items-center rounded-full
           border-2 border-transparent shadow-sm transition-colors
           focus-visible:outline-none focus-visible:ring-2 focus-visible:ring-ring focus-visible:ring-offset-2 focus-visible:ring-offset-background
           disabled:cursor-not-allowed disabled:opacity-50;
  }
  .snx-switch[aria-checked='false'] {
    @apply bg-input;
  }
  .snx-switch[aria-checked='true'] {
    @apply bg-primary;
  }
  .snx-switch-thumb {
    @apply pointer-events-none block h-4 w-4 rounded-full bg-background shadow-lg ring-0
           transition-transform;
  }
  .snx-switch[aria-checked='false'] .snx-switch-thumb {
    @apply translate-x-0;
  }
  .snx-switch[aria-checked='true'] .snx-switch-thumb {
    @apply translate-x-4;
  }
}
